################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/plugin5-demo/obj/Debug
/plugin5-demo/.vs/plugin5-demo/v15/Server/sqlite3
/plugin5-demo/obj/Release
/plugin5-demo/.vs/plugin5-demo/v16/Server/sqlite3/db.lock
/plugin5-demo/.vs/plugin5-demo/v16/Server/sqlite3
/plugin5-demo - Copy
/plugin5-demo/.vs/plugin5-demo/v15/.suo
/plugin5-demo/.vs/plugin5-demo/v16
/plugin5-demo/.vs/plugin5-demo/v17/.suo
/plugin5-demo/bin/Release
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/0c0549f7-e481-441d-8460-1e26ca4a02c4.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/7bf105c1-eee0-4829-88d6-785943a07477.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/32de826b-62d6-46d9-a4c8-026f6bde7b1e.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/a0f90446-6e5a-444e-86a7-a103f506cb6e.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/cf550866-69b0-48ad-8b01-a5f4e4626a4c.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/27c90299-915f-409b-bb16-17e237c9ce74.vsidx
