################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/plugin5-demo/obj/Debug
/plugin5-demo/.vs/plugin5-demo/v15/Server/sqlite3
/plugin5-demo/obj/Release
/plugin5-demo/.vs/plugin5-demo/v16/Server/sqlite3/db.lock
/plugin5-demo/.vs/plugin5-demo/v16/Server/sqlite3
/plugin5-demo - Copy
/plugin5-demo/.vs/plugin5-demo/v15/.suo
/plugin5-demo/.vs/plugin5-demo/v16
/plugin5-demo/.vs/plugin5-demo/v17/.suo
/plugin5-demo/bin/Release
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/0c0549f7-e481-441d-8460-1e26ca4a02c4.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/7bf105c1-eee0-4829-88d6-785943a07477.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/32de826b-62d6-46d9-a4c8-026f6bde7b1e.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/a0f90446-6e5a-444e-86a7-a103f506cb6e.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/cf550866-69b0-48ad-8b01-a5f4e4626a4c.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/27c90299-915f-409b-bb16-17e237c9ce74.vsidx
/plugin5-demo/.vs/plugin5-demo/CopilotIndices/17.13.441.19478
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/1a2011dc-d2f5-4cc0-b2aa-6eb167955e8d.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/23e841c4-5ee5-4947-8305-8a79f0f4fb79.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/3f4102d9-8985-46c7-a892-955f15226270.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/49c7645f-bac6-4dc9-9c40-4d1483033b8a.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/736cb9ae-e5cc-41f8-9d78-9677755a1723.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/9733cca7-3a81-43b3-9b22-134776d994cc.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/9ef2e5fc-abc6-4774-885e-769810a10d1b.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/ba409e79-1c2c-4ace-8e65-6853ac6731f3.vsidx
/plugin5-demo/.vs/plugin5-demo/v17/DocumentLayout.backup.json
/plugin5-demo/.vs/plugin5-demo/v17/DocumentLayout.json
/plugin5-demo/.vs/plugin5-demo.csproj.dtbcache.json
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/4f8f3c58-c98b-49ac-91e6-d621163ca372.vsidx
