################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/plugin5-demo/obj/Debug
/plugin5-demo/.vs/plugin5-demo/v15/Server/sqlite3
/plugin5-demo/obj/Release
/plugin5-demo/.vs/plugin5-demo/v16/Server/sqlite3/db.lock
/plugin5-demo/.vs/plugin5-demo/v16/Server/sqlite3
/plugin5-demo - Copy
/plugin5-demo/.vs/plugin5-demo/v15/.suo
/plugin5-demo/.vs/plugin5-demo/v16
/plugin5-demo/.vs/plugin5-demo/v17/.suo
/plugin5-demo/bin/Release
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/0c0549f7-e481-441d-8460-1e26ca4a02c4.vsidx
/plugin5-demo/.vs/plugin5-demo/FileContentIndex/7bf105c1-eee0-4829-88d6-785943a07477.vsidx
